<button type="button" class="btn btn-danger btn-rounded" data-bs-toggle="modal" data-bs-target="#deleteModal">
	<i class="bi bi-trash-fill"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content bg-primary">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Attention !</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Vous êtes sur le point de supprimer le trick
				<strong>{{trick.title|upper}}</strong>.
				<br>
				Si vous êtes sur de cette action, cliquez sur supprimer sinon sur annuler.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
				<a href="{{ path('app_trick_delete', {"id": trick.id, "token": csrf_token('delete-trick')}) }}">
					<button type="button" class="btn btn-outline-secondary">Supprimer</button>
				</a>
			</div>
		</div>
	</div>
</div>
