{% extends 'base.html.twig' %}

{% block title %}
	connexion
{% endblock %}

{% block body %}
	<div class="container" style="height: 100vh;">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail" class="mt-5">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword" class="mt-5">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
		</form>
	</div>
{% endblock %}
