<section class="pb-5 container">

	<hr>

	<div class="mx-1 py-2">
		{% if is_granted('ROLE_USER') %}
			{% include 'single/comments-parts/form.html.twig' %}
		{% else %}
			{% include 'single/comments-parts/unauthenticated.html.twig' %}
		{% endif %}
	</div>

	<hr>

	{% include 'single/comments-parts/comments-list.html.twig' %}

</section>
