<section class="mt-5 container-fluid">
	<div class="d-md-flex justify-content-center">
		{% for media in trick.media.values %}
			{% if media.type.type == 'image' %}
				<div class="px-1 py-1">
					<img src="{{ asset('images/') }}{{ media.file }}" alt="{{ media.file }}" width="320" height="208">
				</div>
			{% elseif media.type.type == 'video' %}
				<div class="px-1 py-1">
					<iframe width="320" height="208" src="{{ media.file }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>
