<section style="height: 45vh; background-image: url('{{ asset('images/' ~ trick.thumbnailPath) }}');" class="center-image d-flex flex-column justify-content-around text-white">
	<div class="text-center">
		<h1>{{ trick.title|capitalize }}</h1>
	</div>
</section>
