{% if trick.thumbnail == null %}
	{% set thumbnailPath = 'img/default.jpg' %}
{% else %}
	{% set thumbnailPath = 'uploads/' ~ trick.thumbnail.path %}
{% endif %}
<section style="height: 80vh; background-image: url('{{ asset(thumbnailPath) }}');" class="center-image d-flex flex-column justify-content-around text-white container-fluid p-0">
	<div class="home-hero-textbox d-flex align-items-center justify-content-center">
		<h1>{{ trick.title|capitalize }}</h1>
	</div>
</section>
