<section style="height: 100vh; background-image: url('{{ asset('img/hero.jpg') }}')" class="center-image bg-secondary">
	<div class="d-flex flex-column justify-content-around text-white home-hero-textbox">
		<div class="text-center">
		

			<h1 style="font-size: 3.5em" class="brand-font">
				<img src="{{ asset('img/white-logo.png') }}" height="87px" width="87px" />
				Snowtricks
			</h1>
			<h3>Le rendez-vous des passionnés de surf !</h3>
		</div>
		<div class="text-end mx-2">
			<a href="#tricks" class="btn btn-primary btn-rounded">
				<i class="bi bi-caret-down-fill"></i>
			</a>
		</div>
	</div>
</section>
