<section class="container-fluid my-3" id="tricks">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-5 px-2" id="results">
		{% for trick in tricks|sort((a, b) => b.createdAt <=> a.createdAt) %}
			{% include 'home/home-sections/trick-card.html.twig' %}
		{% endfor %}
	</div>
	<div class="d-flex justify-content-around">
		<a href="#" id="results-show-more" class="my-4 btn btn-primary">
				<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
				Afficher plus...
		</a>
	</div>
	<div class="d-flex justify-content-end">
		<a href="#tricks" class="btn btn-primary btn-rounded home-hero-textbox">
			<i class="bi bi-caret-up-fill"></i> 
		</a>
	</div>
</section>
