{% extends 'warning-message.html.twig' %}

{% block message_title 'Demande de nouveau mot de passe' %}

{% block message_content %}
	<p>Nous avons reçu demande de changement de mot de passe concernant votre compte.</p>
	<p>Cependant une erreur s'est produite, merci de vérifier vos identifiants ou réessayez plus tard.</p>
{% endblock %}
