<div class="row">
	<p>Image à la une</p>
	{% if trick.thumbnail != null %}
		<div class="col">
			<div style="height: 45vh; background-image: url('{{ asset('uploads/' ~ trick.thumbnail.path) }}');" class="center-image d-flex flex-column justify-content-around text-white mb-2"></d>
		</div>
	{% endif %}

	<div class="col">
		{{ form_row(form.thumbnail) }}
	</div>
</div>
