{% extends 'warning-message.html.twig' %}

{% block message_title %}
	Compte déjà créé
{% endblock %}

{% block message_content %}
	<p>L'utilisateur fait déjà partie de la communauté</p>
{% endblock %}
