{% extends 'base.html.twig' %}

{% block title 'Modifier un trick' %}

{% block body %}
	<div class="container">
		<section class="my-5">

			{{ form_start(form) }}

			{% include 'trick-update/form-sections/thumbnail.html.twig' %}

			<div class="mb-4 toggle">
				<i class="bi bi-eye-fill btn btn-success show">&nbsp;Voir médias</i>
				<i class="bi bi-x-circle-fill btn btn-primary hide">&nbsp;Masquer médias</i>
			</div>
			<div class="hide">
				<div class="gallery">

					{% include 'trick-update/form-sections/medias.html.twig' %}

				</div>
			</div>

			{% include 'trick-update/form-sections/text-content.html.twig' %}

			{% include 'trick-update/form-sections/form-buttons.html.twig' %}

			{{ form_end(form) }}
		</section>
	</div>
{% endblock %}
