{% extends 'base.html.twig' %}

{% block title 'Modifier un trick' %}

{% block body %}
	<div class="container">
		<section class="my-5">

			{{ form_start(form) }}

			{% include 'trick-update/form-sections/thumbnail.html.twig' %}

			{% include 'trick-update/form-sections/medias.html.twig' %}

			{% include 'trick-update/form-sections/text-content.html.twig' %}

			{% include 'trick-update/form-sections/form-buttons.html.twig' %}

			{{ form_end(form) }}
		</section>
	</div>
{% endblock %}
