{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5" style="min-height: 100vh">
		<div class="d-flex justify-content-around">
			<div class="alert alert-danger text-center" role="alert">
				<h1 class="m-5 form-title">
					{% block message_title %}{% endblock %}
				</h1>
				{% block message_content %}{% endblock %}
			</div>
		</div>

		<a href="{{ path('app_home') }}">Retour à l'accueil</a>
	</div>
{% endblock %}
