{% extends 'warning-message.html.twig' %}

{% block message_title %}
	Lien non valide
{% endblock %}

{% block message_content %}
	<p>Le lien que vous avez suivi est expiré ou invalide</p>
{% endblock %}
