<div class="row my-5 mx-0">
	<div class="col">
		<button class="btn btn-lg btn-primary" type="submit">
			<i class="bi bi-check-circle-fill"></i>
			Sauvegarder
		</button>
	</div>
	<div class="col d-flex justify-content-end">
		{% include 'trick-buttons/trick-delete-button.html.twig' %}
	</div>
</div>
