<div class="col-12 pb-3">
	<p>Vidéos</p>
	<div id="videos" class="row d-flex justify-content-center" data-prototype="{{ include('trick-form-prototypes/videos-prototype.html.twig', { form: form.videos.vars.prototype })|e('html_attr') }}" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
		{% for video in form.videos %}
			<div class="col-10 col-md-6 col-lg-4 col-xl-3 p-2 m-0 item h-100">
				<div class="bg-black h-100">
					<div class="d-flex justify-content-end p-1">
						<details class="text-white d-flex px-1">
							<summary type="button" class="btn btn-primary btn-rounded">
								<i class="bi bi-pencil-fill"></i>
							</summary>
							<div class="details-content">
								{{ form_widget(video.swapVideo) }}
							</div>
						</details>

						<div class="form-group">
							<button type="button" class="btn btn-danger btn-remove btn-rounded">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
					<iframe width="100%" height="100%" src="{{ video.vars.data.path }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		{% endfor %}
	</div>
	<button type="button" class="btn btn-primary btn-new btn-rounded" data-collection="#videos">+</button>
</div>
