<div class="col-12 pb-3 my-5">
	<div class="col-12 d-flex mb-2">
		<p class="m-0">Images additionnelles</p>
		<div class="mx-2">
			<button type="button" class="btn btn-primary btn-new btn-rounded" data-collection="#images">+</button>
		</div>
	</div>
	<div id="images" class="row d-flex justify-content-center" data-prototype="{{ include('trick-form-prototypes/images-prototype.html.twig', { form: form.images.vars.prototype })|e('html_attr') }}" data-index="{{ form.images.vars.data|length > 0 ? form.images|last.vars.name + 1 : 0 }}">
		{% for image in form.images %}
			<div class="col-10 col-md-6 col-lg-4 col-xl-3 p-2 m-0 pt-0 item">
				<div class="center-image" style="height: 220px; background-image: url('{{ asset('uploads/' ~ image.vars.data.path) }}')">
					<div class="d-flex justify-content-end p-1">
						<div class="upload px-1">
							<label for="input-file" type="button" class="btn btn-primary btn-rounded">
								<i class="bi bi-pencil-fill"></i>
							</label>
							<div class="d-none">{{ form_widget(image.file, { 'id': 'input-file' }) }}</div>

						</div>
						<div class="form-group">
							<button type="button" class="btn btn-danger btn-remove btn-rounded">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
