<div class="col-12 pb-3">
	<p>Images additionnelles</p>
	<div id="images" class="row" data-prototype="{{ include('trick-form-prototypes/images-prototype.html.twig', { form: form.images.vars.prototype })|e('html_attr') }}" data-index="{{ form.images.vars.data|length > 0 ? form.images|last.vars.name + 1 : 0 }}">
		{% for image in form.images %}
			<div class="col-3 p-2 m-0 item">
				<div class="center-image" style="height: 220px; background-image: url('{{ asset('uploads/' ~ image.vars.data.path) }}')">
					<div class="d-flex justify-content-end p-1">
						<div class="upload px-1">
							<label for="input-file" type="button" class="btn btn-success btn-rounded">
								<i class="bi bi-pencil-fill"></i>
							</label>
							<div class="d-none">{{ form_widget(image.file, { 'id': 'input-file' }) }}</div>

						</div>
						<div class="form-group">
							<button type="button" class="btn btn-danger btn-remove btn-rounded">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<button type="button" class="btn btn-primary btn-new" data-collection="#images">Nouvelle image</button>
</div>
