<section class="mt-5 container-fluid border border-light">
	<h4 class="text-muted">images</h4>
	<div class="d-md-flex justify-content-center">
		{% for imagePath in trick.imagesPathList %}
			<div class="px-1 py-1">
				<img src="{{ asset('uploads/') }}{{ imagePath }}" width="320" height="208">
			</div>
		{% endfor %}
	</div>
</section>

<section class="mt-5 container-fluid border border-light">
	<h4 class="text-muted">videos</h4>
	<div class="d-md-flex justify-content-center">
		{% for videoPath in trick.videosPathList %}
			<div class="px-1 py-1">
				<iframe width="320" height="208" src="{{ videoPath }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		{% endfor %}
	</div>
</section>
