<div class="row">
	<div class="col">
		{{ form_row(updateForm.title, {'attr': {'placeholder': trick.title,}}) }}
	</div>
	<div class="col">
		{{ form_row(updateForm.category) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_row(updateForm.content, {'attr': {'placeholder': trick.content}}) }}
	</div>
</div>
