<div class="row px-0 mx-0 my-5">
	<div class="col-12 col-lg-6">
		{{ form_row(form.title, {'attr': {'placeholder': trick.title,}}) }}
	</div>
	<div class="col-12 col-lg-6">
		{{ form_row(form.category) }}
	</div>
</div>

<div class="row px-0 mx-0">
	<div class="col">
		{{ form_row(form.content, {'attr': {'placeholder': trick.content}}) }}
	</div>
</div>
