<div class="row">
	<div class="col">
		<p class="text-muted">Image à la une :</p>
		<div style="height: 45vh; background-image: url('{{ asset('uploads/' ~ trick.thumbnailPath) }}');" class="center-image d-flex flex-column justify-content-around text-white mb-5"></d>

	</div>
</div>
